.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    height: 25%;
}

@media screen and (max-width: 1080px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    height: 150px;
    margin-top: 10px;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalNum{
    font-size: 30px;
}
#totBookCard {
    background-color: #e9e1d4;
}

#totStudCard {
    background-color: #f5ddad;
}

#returnCard {
    background-color: #f1bcae;
}

#borrowedCard {
    background-color: #c8dfcf;
}

.card:hover {
    height: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tables td,
.tables th {
    border: 4px solid white;
    padding: 8px;
}

.tables tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.tables th {
    position: sticky;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    color: white;
    font-weight: bold;
    background-color: #8ec8cc;
}

.search {
    margin: 10px;
    width: 98%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("../images/search.svg");
    background-size: 15px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 22px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


.wrapper {
    display: flex;
    position: relative;
}

.header{
    margin: 30px;
}


.info {
    height: 400px;
    margin: 20px;
    color: #717171;
}


#headerImage {
    text-align: left;
    font-size: 40px;
    padding: 5px;
    margin: 10px;
    margin: auto;
}

#home-div {
    margin: 20px; 
    height: 650px;
}

.table-box {
    overflow-y: scroll;
    background: white;
}

label{
    font-family: sf_free;
}

.formTable td {
    padding: 8px;
}

.input_text {
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.input_labels {
    width: 150px;
    text-align: left;
}

.button_row {
    text-align: right;
}

.combo_box {
    width: 100%;
    height: 25px;
}

.actionButtons {
    outline: none;
    border: none;
    width: 100px;
    height: 30px;
    margin: 5px;
}

#transactionTable th {
    background-color: #c8dfcf;
    color: #717171;
}

.btnActions {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 2px 2px;
}

#studentTable th {
    background-color: #e9e1d4;
    color: #717171;
}

.table-box {
    height: 300px;
    overflow-y: scroll;
    background: white;
}

#student-div,
#request-div {
    margin: 20px; 
    height: 700px;
}

.deleteCell {
    width: 20px;
}

#bookAdd,
#acceptRequest,
#transactionAdd {
    background-color: #18a55d;
    border: 1px solid #128c4e;
    color: white;
}

#bookUpdate,
#transactionUpdate {
    background-color: #20c0ed;
    border: 1px solid #1cacd4;
    color: white;
}

#bookDelete,
#rejectRequest,
#studentDelete,
#transactionDelete {
    background-color: #db4b3e;
    border: 1px solid #d53a2d;
    color: white;
}

#bookTable th {
    background-color: #e9e1d4;
    color: #717171;
}
.alert {
    width: 100%;
    color: white;
    display: block;
    padding: 4px;
    font-size: 12px;
    background-color: #d53a2d;
}
.formTable{
    width: 1650px;
}
.formTable td {
    padding: 8px;
}
.message {
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
    padding: 4px;
}

#accessionExist {
    visibility: hidden;
}

#table_div{
    width: 100%;
}

@font-face {
    font-family: sf_free;
    src: url("../fonts/sf_free.ttf");
  }
  